.spinner.fixed {
    position: fixed;
}
.spinner {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1003;
    background: #ebeff5;
    overflow: hidden;
} 


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
 /* background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif); */
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}


/*2*/

.accordion .card-header:after {
      font-family: 'FontAwesome';  
      content: "\f078";
      float: right;
      color:#dadada;
    }
    .btn {

      font-size: 14px;

    }
    .accordion .card-header.collapsed:after {
      /* symbol for "collapsed" panels */
      content: "\f077"; 
      color:#dadada;
    }
    .accordion > .card .card-header {
      margin-bottom: 0px !important; 
      border: 0px solid #dadada;
      margin:0px;

    }
    input[type="radio"], input[type="checkbox"] {
      box-sizing: border-box;
      padding: 0;
      height: 20px;
      width: 15px;
    }




    input[type=range] {
      -webkit-appearance: none;
      margin: 20px 0;
      width: 100%;
    }
    input[type=range]:focus {
      outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      animate: 0.2s;
      background: #ebeef3;
      border-radius: 25px;
    }
    input[type=range]::-webkit-slider-thumb {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background: #f09662;

      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -8px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
      background: #03a9f4;
    }
    .range-wrap{

      position: relative;
    }
    .range-value{
      position: absolute;
      top: -50%;
    }
    .range-value span{
      width: 30px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      background: #dd2d37;
      color: #fff;
      font-size: 12px;
      display: block;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      border-radius: 6px;
    }
    .range-value span:before{
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-top: 10px solid #dd2d37;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      margin-top: -1px;
    }

/* 3 */
 .usericon02 .dropdown-toggle::after{
  display:none;
  }
.dropdown-menu{

}
.dropdown-menu a{
  color:#000;
  text-decoration: none;

}

  .trend-dashboard .btn {
    font-size: 15px;
    font-family: comfortaabold,sans-serif;
    color: #000;
    border-color: #fbb48a;
    padding: 12px 22px;
}
/*4*/
.trend-dashboard .btn {
         font-size: 15px;
         font-family: comfortaabold,sans-serif;
         color: #000;
         border-color: #fbb48a;
         padding: 12px 22px;
         }
         .section-box-eleven{
         height: 320px;
         background: radial-gradient(#6e6e6e,#2f2f2f);
         background: -webkit-radial-gradient(#6e6e6e,#2f2f2f);
         background: -moz-radial-gradient(#6e6e6e,#2f2f2f);
         color: #fff;
         position: relative;
         overflow:hidden;
         margin-bottom:30px;
         }
         .section-box-eleven .figure1 {
         position: absolute;
         padding: 10px 15px;
         width: 100%;
         bottom: -25%;
         transition: ease-in-out .5s;
         /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,000000+0,000000+100&0+0,1+100 */
         background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
         background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
         background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
         }
         .section-box-eleven:hover .figure1 {
         bottom: 0;
         }
         .section-box-eleven img{
         height: 100%;
         }
         /* --- */
         .section-box-eleven .figure2 {
         position: absolute;
         padding: 10px 15px;
         width: 100%;
         top: -25%;
         transition: ease-in-out .5s;
         /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,000000+0,000000+100&1+0,0+100 */
         background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
         background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
         background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
         }
         .section-box-eleven:hover .figure2 {
         top: 0;
         }
         /* --- */
         .section-box-eleven img{
         -o-object-fit: cover;
         object-fit: cover;
         -o-object-position: 50% 50%;
         object-position: 50% 50%;
         width: 100%;
         height: 100%;
         left: 0;
         top: 0;
         }
         /*5*/
                  .usericon02 .dropdown-toggle::after{
         display:none;
         }
         .dropdown-menu{
         }
         .dropdown-menu a{
         color:#000;
         text-decoration: none;
         }


         